<%- include('../include/header.ejs') %>
<section id="service" class="hSize">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center"></div>
            </div>  
        </div>
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-3 col-xs-12 col-sm-6">
                </div>
            </div>
        </div>  
    </div>  
</section>

<%- include('../include/footer.ejs') %>